* {
 text-align: center; 
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2rem;
}
a {
  color: black;
  border: 1px solid currentColor;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  text-decoration: none;
  font-size: 1.2rem;
}
a:hover {
  background-color: black;
  color: white;
}